<h1>Shelters#index</h1>
<p>Find me in app/views/shelters/index.html.erb</p>


<p> all shelters in <%= @location %>
	<ul><% @shelters.each do |shelter| %>
		<li><%= shelter %></li>
		<% end %>
	</ul>

