<% if @user.errors.full_messages.any? %>
<ul>
	<% @user.errors.full_messages.each do |message| %>
	<li><%= message %></li>
	<% end %>
</ul>
<% end %>

<% form_for @cat do method: :post |f| %>
	<% end %>